<div id="header">
  <h1 id="siteTitle" class="site-title">
    <a href="/">Lean Crow Marketing</a>
  </h1>
  <nav id="mainNavigation" class="hidden">
    <div class="index home">
      <a href="/#multi_channel">
                      Multi-Channel
                    </a>
    </div>
    <div class="index home">
      <a href="/#omni_channel">
                      Omni-channel
                    </a>
    </div>
    <div class="index home">
      <a href="/#cro">
                      CRO
                    </a>
    </div>
    <div class="index home">
      <a href="/#data_driven">
                      Data
                    </a>
    </div>
    <div class="index home">
      <a href="/#agile">
                      Agile
                    </a>
    </div>
  </nav>
</div>