<div id="header">
  <div class="center logo"><img src="/img/crow.svg" alt="crow logo" /></div>
  <h1 id="siteTitle" class="site-title">
    <a href="/">Lean Crow Marketing</a>
  </h1>
  <nav id="mainNavigation" class="hidden">
    <div class="index home">
      <a href="/#product">Product</a>
    </div>
    <div class="index home">
      <a href="/#performance">
                      Performance
                    </a>
    </div>
    <div class="index home">
      <a href="/#me">
                      Me
                    </a>
    </div>
  </nav>
</div>